@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a class="btn btn-primary" asp-controller="Courses" asp-action="Index">
            Разгледай курсовете
        </a>
    </p>

    <p>
        Добре дошъл в платформата за онлайн обучения!
        <a asp-controller="Courses" asp-action="Index">Виж всички курсове</a>
    </p>

</div>
