@{
    ViewData["Title"] = "Политика за поверителност";
}
<h1>@ViewData["Title"]</h1>

<p>
    Тази страница описва какви лични данни се събират и как се използват в рамките на платформата за онлайн обучения.
</p>
<p>
    При регистрация, потребителите предоставят имейл адрес и парола, които се използват единствено с цел предоставяне на достъп до курсовете и функционалностите на системата.
</p>
<p>
    Данните не се предоставят на трети страни и се използват само в контекста на платформата.
</p>
<p>
    Администраторите имат достъп до статистики и обратна връзка, но не и до паролите на потребителите.
</p>