@model List<OnlineCoursesPlatform.ViewModels.CourseListViewModel>

<h2>Всички курсове</h2>

<div class="row">
    @foreach (var course in Model)
    {
        <div class="course-card mb-4">
            <h4>@course.Title</h4>
            <p>Категория: @course.Category</p>
            <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id" class="btn btn-primary">Виж детайли</a>
        </div>
    }

</div>
